.example-card {
    width: 80%;
    height: 500px;

  }
  

  .btn{
    background-color: rgba(11, 37, 236, 0.603);
  }


  .search{
    width: 500px;
    height:35px;
   
    border-radius: 50px;

}

.but{
    color: white;
    background-color: rgb(6, 59, 128);
    font-weight: bolder;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 40px;
}
.btn-group{
    width: 100px;
}


.dropbtn {
    background-color: rgb(6, 59, 128);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-color: black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:rgb(14, 94, 200);
  }

  @media screen and (min-width: 1000px) {
    .search { 
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
  .search { 
      width: 200px;
  }
  .but{
    width: 50px;
  }
  .mat1{
    display: none;
  }
  .mat2{
      display:block;
  }
 
}

@media screen and (min-width: 500px) {
  .mat1{
    display: block;
  }
  .mat2{
      display:none;
  }
  .search { 
    width: 400px;
}
  
}